.spinner{
	position: relative;
	width:42px;
	height:7px;
	margin:auto;
	display: inline-block;
}
#spinner{
	position: relative;
	width:42px;
	height:7px;
	margin:auto;
	display: inline-block;
}

.fountainG{
	position:absolute;
	top:0;
	background-color:rgb(0,0,0);
	width:5px;
	height:5px;
	animation-name:bounce_fountainG;
		-o-animation-name:bounce_fountainG;
		-ms-animation-name:bounce_fountainG;
		-webkit-animation-name:bounce_fountainG;
		-moz-animation-name:bounce_fountainG;
	animation-duration:1.235s;
		-o-animation-duration:1.235s;
		-ms-animation-duration:1.235s;
		-webkit-animation-duration:1.235s;
		-moz-animation-duration:1.235s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	transform:scale(.3);
		-o-transform:scale(.3);
		-ms-transform:scale(.3);
		-webkit-transform:scale(.3);
		-moz-transform:scale(.3);
	border-radius:3px;
		-o-border-radius:3px;
		-ms-border-radius:3px;
		-webkit-border-radius:3px;
		-moz-border-radius:3px;
}

#fountainG_1{
	left:0;
	animation-delay:0.496s;
		-o-animation-delay:0.496s;
		-ms-animation-delay:0.496s;
		-webkit-animation-delay:0.496s;
		-moz-animation-delay:0.496s;
}

#fountainG_2{
	left:5px;
	animation-delay:0.6125s;
		-o-animation-delay:0.6125s;
		-ms-animation-delay:0.6125s;
		-webkit-animation-delay:0.6125s;
		-moz-animation-delay:0.6125s;
}

#fountainG_3{
	left:10px;
	animation-delay:0.739s;
		-o-animation-delay:0.739s;
		-ms-animation-delay:0.739s;
		-webkit-animation-delay:0.739s;
		-moz-animation-delay:0.739s;
}

#fountainG_4{
	left:16px;
	animation-delay:0.8655s;
		-o-animation-delay:0.8655s;
		-ms-animation-delay:0.8655s;
		-webkit-animation-delay:0.8655s;
		-moz-animation-delay:0.8655s;
}

#fountainG_5{
	left:21px;
	animation-delay:0.992s;
		-o-animation-delay:0.992s;
		-ms-animation-delay:0.992s;
		-webkit-animation-delay:0.992s;
		-moz-animation-delay:0.992s;
}

#fountainG_6{
	left:26px;
	animation-delay:1.1085s;
		-o-animation-delay:1.1085s;
		-ms-animation-delay:1.1085s;
		-webkit-animation-delay:1.1085s;
		-moz-animation-delay:1.1085s;
}

#fountainG_7{
	left:31px;
	animation-delay:1.235s;
		-o-animation-delay:1.235s;
		-ms-animation-delay:1.235s;
		-webkit-animation-delay:1.235s;
		-moz-animation-delay:1.235s;
}

#fountainG_8{
	left:37px;
	animation-delay:1.3615s;
		-o-animation-delay:1.3615s;
		-ms-animation-delay:1.3615s;
		-webkit-animation-delay:1.3615s;
		-moz-animation-delay:1.3615s;
}



@keyframes bounce_fountainG{
	0%{
	transform:scale(1);
		background-color:rgba(0,170,222,0.97);
	}

	100%{
	transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-o-keyframes bounce_fountainG{
	0%{
	-o-transform:scale(1);
		background-color:rgba(0,170,222,0.97);
	}

	100%{
	-o-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-ms-keyframes bounce_fountainG{
	0%{
	-ms-transform:scale(1);
		background-color:rgba(0,170,222,0.97);
	}

	100%{
	-ms-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-webkit-keyframes bounce_fountainG{
	0%{
	-webkit-transform:scale(1);
		background-color:rgba(0,170,222,0.97);
	}

	100%{
	-webkit-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-moz-keyframes bounce_fountainG{
	0%{
	-moz-transform:scale(1);
		background-color:rgba(0,170,222,0.97);
	}

	100%{
	-moz-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}